.btn.btn-light {
  background-color: #a1c21f9c;
  color: white;
}
.card-footer {
  padding: 0;
}

.card-footer button {
  cursor: pointer;
}
.card-img {
  width: 100%;
  height: 8vw;
  object-fit: cover;
}
.card {
  padding: 5%;
}
