.btn {
  position: absolute;
  width: 150px;
  top: 51%;
  left: 49%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffbc66;
  border: rgb(231, 212, 187) 2px solid;
  color: white;
  font-size: 23px;
  cursor: pointer;
}
.btn:hover {
  background-color: #7d990c;
}
