.dropdown-toggle {
  cursor: pointer;
}
.btn.btn-success {
  background-color: rgb(231, 159, 174);
  border: rgb(231, 159, 174);
}
.bg-light {
  background-color: #ffe8c9 !important;
}
.navbar.navbar-expand-md.navbar-light.bg-light {
  color: #888785;
  background-color: #ffe8c9;
}
.dropdown-content a:hover {
  color: #888785;
  background-color: #ffe8c9;
}

.dropdown:hover .dropdown-content {
  color: #888785;
  display: block;
}
.dropdown,
.dropleft {
  position: relative;
  padding-top: 20%;
}
.dropdown:hover .dropbtn {
  color: #888785;
  background-color: #ffe8c9;
}
.dropbtn {
  position: relative;
  padding-top: 13%;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffe8c9;
  min-width: 160px;
}

.dropdown-content a {
  color: #888785;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav-item {
  padding: 25px;
}
