<div class="row" style="margin-top: 20px;">
  <div class="col" id="left">
    <div class="menu1"></div>
    <div class="square">
      <h3 class="h3">
        Select your pot
      </h3>
      <p class="p" style="font-size: 20px;">
        Are you in the mood for a smoothie or poke bowl?
      </p>
      <button type="button" class="btn btn-success" routerLink="/select-bowl">
        GO &raquo;
      </button>
    </div>
  </div>
  <div class="col" style="width: 100px;"></div>
  <div class="col" id="right">
    <div class="menu2">
      <div class="square2">
        <h3 class="h3">Choose Ingredients</h3>
        <p class="p">
          What do you want in your pot? Add some vitamins, carbs and fat for a
          satisfactory yet healthy meal!
        </p>
        <button type="button" class="btn btn-success" routerLink="/">
          GO &raquo;
        </button>
      </div>
    </div>
  </div>
</div>
